
.Home_page{
  margin: 0 auto;
  width: 100%;
  /* padding:32px,16px; */
  box-sizing: border-box;
}
.Home_page_content{
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 32px;
}

.Home_page_img_container{
  width: 180px;
  height: 180px;
  border-radius: 50%; 
  overflow: hidden;                                 
  border: 2px solid ghostwhite;
  transition: all 0.5s ease;
}
.Home_page_img_container:hover{
  width: 200px;
  height: 200px;
  box-shadow: 0 10px 25px rgba(239, 106, 214, 0.971);
  transform: scale(1.05) translateY(-5px);
}
.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width:768px){
  .Home_page_content{
    grid-template-columns: repeat(2,1fr);
  }
  .Home_page_img_container{
    width: 220px;
    height:220px;
  }
  .Home_page_img_container:hover{
    width: 240px;
    height: 240px;
  }
}
@media (min-width:768px){
  .Home_page{
    padding: 32px;
  }
  .Home_page_content{
    grid-template-columns: repeat(3,1fr);
  }
}
.h1:hover {
  filter: drop-shadow(0 0 16px rgb(216, 77, 190));
  
}
@keyframes animate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference){
  .img{
    animation:animate infinite 20s linear;
  }
}

.Home_button {
  position:fixed;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(11,13,10);
  cursor: pointer;
  transition: border-color 0.25s;
  bottom:120px;
  transition: all 0.3s ease;
}
.Home_button:hover {
  box-shadow: 0 0 2em #646cffaa;
  border-color: #646cff;
  transform: scale(1.05) translateY(-5px);
}
.Home_button:focus,
.Home_button:focus-visible {
  outline: 0px auto -webkit-focus-ring-color;
  color:#646cff;
  background-color: rgb(11,13,10);
}