
.total-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.Navigate_menu{
  width: 100%;
  height: 20%;
}

.main_container{
  width: 100%;
  height: 80%;
  margin-top: 50px;
}